/nchat/profiles
/nchat/history
/hypr/background.jpg
/sddm/themes/akantha/background.jpg
/grub/themes/akantha/background.jpg
/ventoy/themes/akantha/background.jpg
/stellarium/modules
/themes/background.*
*.bak
