* {
    wallpaper: url('/home/notscripter/.config/themes/background.jpg');

    primary: #d89034;
    secondary: #c2ab90;
    tertiary: #bb7f35;
    surface: #00000001;
    onPrimary: #f4c67c;
    onSecondary: #f4c67c;
    onTertiary: #f4c67c;
    onSurface: #f4c67c;

    highlight: #ffffff14;
    radius: 16px;
}
